/* line 5, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_on_list {
  background-color: white;
  height: 150px;
  padding: 1%;
  margin: 1%;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
}

/* line 16, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_new {
  background-color: white;
  height: 400px;
  padding: 1%;
  margin: 1%;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
}

/* line 27, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view {
  background-color: white;
  height: 200px;
  padding: 1%;
  margin: 1%;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
}

/* line 38, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_on_list:after {
  content: '';
  display: block;
  clear: both;
}

/* line 44, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view:after {
  content: '';
  display: block;
  clear: both;
}

/* line 50, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_votes {
  background-color: white;
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: #ff9900;
}
/* line 60, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_votes img {
  height: 60px;
  width: 60px;
}
/* line 72, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_votes #vote_down span.vote_down {
  font-size: 17px;
  color: red;
}
/* line 77, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_votes #vote_down img {
  height: 45px;
  width: 45px;
}

/* line 89, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_img {
  background-color: white;
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
/* line 98, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_img img {
  padding-top: 5%;
  width: 230px;
  height: 110px;
}

/* line 105, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_info {
  background-color: white;
  width: 63%;
  height: 85%;
  float: left;
  padding: 1%;
}
/* line 112, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_info span.art_title {
  font-weight: bold;
  font-size: 17px;
  color: #ff9900;
}
/* line 118, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_info span.art_user {
  color: #B2BABB;
}
/* line 121, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_info span.art_url {
  color: #AED6F1;
}
/* line 127, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_info span.art_comments {
  color: #B2BABB;
}

/* line 132, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view_img {
  background-color: white;
  width: 35%;
  height: 100%;
  float: left;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
/* line 141, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view_img img {
  padding-top: 5%;
  width: 350px;
  height: 167px;
}

/* line 148, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view_info {
  background-color: white;
  width: 53%;
  height: 85%;
  float: left;
  padding: 1%;
}
/* line 155, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view_info span.art_title {
  font-weight: bold;
  font-size: 17px;
  color: #ff9900;
}
/* line 161, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view_info span.art_user {
  color: #B2BABB;
}
/* line 164, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#art_view_info span.art_url {
  color: #AED6F1;
}

/* line 172, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/articles.scss */
#comments_count {
  background-color: #FBEEE6;
  font-weight: bold;
  font-size: 14px;
  color: #273746;
  height: 20px;
  padding: 1%;
  margin: 1%;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
}
/* line 5, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_box {
  width: 96%;
  background-color: white;
  padding: 1%;
  margin: 1%;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
}

/* line 14, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_box_form {
  width: 96%;
  background-color: white;
  padding: 1%;
  margin: 1%;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.43);
}

/* line 23, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_box:after {
  content: '';
  display: block;
  clear: both;
}

/* line 28, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_box_form:after {
  content: '';
  display: block;
  clear: both;
}

/* line 34, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#avatar {
  width: 6%;
  height: 100%;
  float: left;
}
/* line 39, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#avatar img {
  height: 60px;
  padding-top: 10%;
}

/* line 45, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#content {
  width: 94%;
  background-color: white;
  float: left;
}

/* line 51, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_header {
  height: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4px;
  background-color: white;
}
/* line 57, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_header span.comment_edit {
  float: right;
}
/* line 60, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_header span.username {
  font-weight: bold;
}

/* line 65, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/comments.scss */
#comment_text {
  height: 50px;
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 1, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 19, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 25, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Wysokość nagłówka */
  background: #ff9900;
}

/* line 33, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#banner {
  position: relative;
  min-height: 45px;
  background: #ff9900;
  width: 100%;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 44, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#banner #login {
  text-align: right !important;
}
/* line 50, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

/* line 58, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#notice {
  color: #000 !important;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 65, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#notice:empty {
  display: none;
}

/* line 69, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#main {
  position: relative;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* line 78, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
#site {
  background: #f2f2f2;
  width: 100%;
  min-height: 87%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 88, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
.depot_form fieldset {
  background: #efe;
}
/* line 91, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
.depot_form fieldset legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
/* line 98, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
.depot_form fieldset div {
  margin-bottom: 0.3em;
}
/* line 104, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}
/* line 113, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em;
}
/* line 117, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
.depot_form form .submit {
  margin-left: 4em;
}
/* line 121, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
.depot_form form br {
  display: none;
}

@media all and (max-width: 500px) {
  /* line 129, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
  #banner {
    height: 1em;
  }

  /* line 132, C:/Users/Adrian/rails/linkapp/app/assets/stylesheets/application.scss */
  #banner .title {
    display: none;
  }
}
