/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {
		margin: 0;
		padding: 0;
		height: 100%;
	}

  #footer {
		position: relative;
		bottom: 0;
		width: 100%;
		height: 60px;		/* Wysokość nagłówka */
		background: #ff9900;
	}

#banner {
  position: relative;

  min-height: 45px;
  background: #ff9900;
  width: 100%;

  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  #login {
    text-align: right !important;
  }
  #menu {

  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
  }
}

#notice {
  color: #000 !important;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none
}

#main {
  position: relative;
  padding-top: 30px;

  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#site {
  background: #f2f2f2;
  width: 100%;
	min-height: 87%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.depot_form {
  fieldset {
    background: #efe;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }

    div {
      margin-bottom: 0.3em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none
    }
  }
}


@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }
  #banner .title {
    display: none;
  }
}
